@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 3px 25px;
}

.head{
    padding: 30px 700px ;
    color: rgb(189, 31, 31);
    align-self: center;
}
.App{
    background-color: beige;
}
.repo{
    font-size: large;
    color: black;
}
.icon{
    color: rgb(228, 231, 8);
    font-size: small;
}

.repo{
    text-align: center;
}
.desc{
    text-align: left;
}
.media img {
     width: 300px;
     height: 300px;
    }


.hr {
    margin-left: 5%;
    margin-right: 5%;
 }